<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto de Letras</title>
    <link rel="stylesheet" href="../../Static/Estilo/styles.css">
    <link rel="shortcut icon" href="../../Static/Imagenes/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a class="logo"> <img src="../../Static/Imagenes/Icono.png" alt="logo-laberinto">
            <h1 class="titulo">Laberinto de Letras</h1>
        </a>

        <div class="hamburger">
            <span class="lines"></span>
            <span class="lines"></span>
            <span class="lines"></span>
        </div>
        <nav class="navegacion">
            <ul id="nav-links" class="header-nav">
                <li><a href="Index.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../../Static/Imagenes/Icons/Home.png" alt="Home"
                            class="icono">Inicio</a></li>
                <li><a href="#" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../../Static/Imagenes/Icons/Book.png" alt="Book"
                            class="icono">Libros</a>
                    <ul class="sub-menu">
                        <li> <a href="../ciencia-ficcion.html" class="links"> Ciencia ficción </a></li>
                        <li> <a href="../fantasia.html" class="links"> Fantasía </a></li>
                        <li> <a href="../ficcion.html" class="links"> Ficción literaria </a></li>
                        <li> <a href="../misterio.html" class="links"> Misterio </a></li>
                        <li> <a href="../romantico.html" class="links"> Romántico </a></li>
                    </ul>
                </li>
                <li><a href="./contactos.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../../Static/Imagenes/Icons/Contact.png"
                            alt="Contact" class="icono">Contactos</a></li>
                <li><a href="./login.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../../Static/Imagenes/Icons/Login.png" alt="Login"
                            class="icono">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="superior" class="superior">
            <div class="portada-grande">
                <img src="../../Static/Imagenes/Portadas/en-agosto-nos-vemos.jpg" alt="En Agosto Nos Vemos" height="450"
                    width="300">
            </div>

            <div class="detalles-libro-grande">
                <h2 class="titulo-grande">En Agosto Nos Vemos</h2>
                <p class="genero-grande">Ficción Literaria</p>
                <p class="autor-grande">García Marquez, Gabriel</p>
                <p class="precio-grande">$19.990,00</p>
                <div class="sinopsis">
                    <h4>Sinopsis</h4>
                    <p>Cada mes de agosto Ana Magdalena Bach toma el transbordador hasta la isla donde está enterrada su
                        madre para visitar la tumba en la que yace. Esas visitas acaban suponiendo una irresistible
                        invitación a convertirse en una persona distinta durante una noche al año. Escrita en el
                        inconfundible y fascinante estilo de García Márquez, En agosto nos vemos es un canto a la vida,
                        a la
                        resistencia del goce pese al paso del tiempo y al deseo femenino. Un regalo inesperado para los
                        innumerables lectores del Nobel colombiano.</p>
                </div>
                <button class="boton-compra" type="button">Comprar</button>
            </div>

        </section>
        <section class="inferior">
            <!-- La idea es poner en la ficha teccnica las cosas tipo ISBN, numero de paginas, editorial y todo eso -->
            <div class="ficha-tecnica">
                <h3>Ficha técnica</h3>
                <table>
                    <tbody>
                        <tr>
                            <th> Autor</th>
                            <td class="celda-derecha">García Marquez, Gabriel</td>
                        </tr>
                        <tr>
                            <th>Género</th>
                            <td class="celda-derecha">Ficción Literaria</td>
                        </tr>
                        <tr>
                            <th>Editorial</th>
                            <td class="celda-derecha">Sudamericana</td>
                        </tr>
                        <tr>
                            <th>Páginas</th>
                            <td class="celda-derecha">144</td>
                        </tr>
                        <tr>
                            <th>Idioma</th>
                            <td class="celda-derecha">Español</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td class="celda-derecha">9789500770224</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="redes sociales">
            <h3>Seguí a Laberinto de Letras </h3>
            <ul class="links-redes">
                <li><a href="facebook">Facebook</a> </li>
                <li> <a href="instagram">Instagram</a></li>
                <li><a href="x">X</a> </li>
                <li><a href="youtube">Youtube</a></li>
            </ul>

        </div>
        <div class="info-empresa">
            <h3>Más información de la pagina</h3>
            <ul><a href="empleo.html">Empleos</a></ul>
            <ul><a href="acerca-de-nosotros.html">Acerca de nosotros</a></ul>
            <ul><a href="asistencia.html">Asistencia</a></ul>
            <ul><a href="contacto.html">Contacto</a></ul>
        </div>
    </footer>
<script src="../../Static/js/alerta.js"></script>
<script src="../../Static/js/Animaciones.js"></script>
<script src="../../Static/js/Hamburguesa.js"></script>
</body>

</html>