@font-face {
  font-family: 'roboto-slab';
  src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto-slab';
}

header {
  background-color: rgb(93, 102, 11);
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

body {
  background-color: #f4e89c;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Asegura que el contenido cubra al menos la altura completa de la ventana */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
}

.header-nav a:hover {
  background: rgb(77, 85, 9)
}

.titulo-top-generos {
  text-align: center;
}

.generos-mas-buscados {
  border: 2px solid #000;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.genero {
  margin: 10px;
}

.genero:hover {
  font-weight: bold;
  scale: 1.05;
}

.imagen-gen {
  width: 200px;
  /* Ancho deseado */
  height: 200px;
}


.nombre-genero {
  font-size: 24px;
}

.top-libros {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contenedor-top-libros {
  border: 2px;
  border-style: solid;
  width: 95%;
  min-height: 1200px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  overflow: hidden;
}

.title-top-libros {
  text-align: center;
}

.libros {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px;
  border-style: solid;
  border-color: gray;
}

.libros:hover {
  border: 2px solid #000
}

.titulo-libro {
  font-size: 20px;
  font-weight: 700;
}

.titulo-libro a {
  text-decoration: none;
  color: #000;
}

.portada-libro {
  text-align: center;
  margin: 10px;
}

.portada-libro img {
  width: 168px;
  height: 240px;
}

.precio {
  font-size: 24px;
  font-weight: 400;
}

.title-lista-generos {
  text-align: center;
}

.lista-generos {
  width: 95%;
  margin: 10px 2.5%;
}

/* .lista {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow: scroll; */


.lista {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}


/* Contactos */

.pagina-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
}

.pagina-contacto{
  background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../Imagenes/libros.jpg) center;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-pagina-contacto{
  color: #fff;
font-size: 40px;
}


.wrap-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.column-half-1 p{
  margin: 20px;
}
.column-half p{
  margin: 20px;
}

.formulario-contacto{
  display: flex;
  flex-flow: column;
  width: 50%;
}

.formulario-contacto input, .formulario-contacto{
margin: .5rem 0;
padding: .5rem .2;
}

.formulario-contacto button{
 
  border: none;
  padding: .5rem 1rem;
  background-color: #f4e89c;
  color: black;
  font-size: 1.1rem;
  
}

.mapa-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media(max-width: 640px){
  .wrap-two-column{
    grid-template-columns: 1fr;
    margin-left: 50px;
  }
}
@media(max-width: 900px){
 .formulario-contacto{
  width: 100%;
 }
}








/* Footer */
.pie-pagina {
  background-color: rgb(93, 102, 11);
  width: 100%;
  margin: 0;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 200px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin: 10px 20px 10px 20px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box a {
  color: #FFF;
  text-decoration: none;
  margin-top: 15px;
}

.pie-pagina .grupo-1 .box ul {
  margin: 10px;

}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 15px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgb(93, 102, 11);
  text-align: center;
  font-size: 40px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: black;
}

.pie-pagina .grupo-2 {
  background-color: rgb(93, 102, 11);
  padding: 15px 10px;
  text-align: center;
  color: #FFF;
}

.pie-pagina .grupo-2 p {
  font-size: 13px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* .instagram {
  font-size: 40px;
  color: black;
}

.instagram:hover {
  color: red;
}

.facebook {
  font-size: 40px;
  color: black;
}

.facebook:hover {
  color: rgb(0, 55, 255);
}

.twitter {
  font-size: 40px;
  color: black;
}

.twitter:hover {
  color: rgb(240, 241, 243);
}

.youtube {
  font-size: 40px;
  color: black;
}

.youtube:hover {
  color: red
} */



/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .generos-mas-buscados {
    justify-content: space-between;
    overflow: scroll;
  }

  .contenedor-top-libros {
    grid-template-columns: repeat(2, 1fr);
  }

}






/* Celulares */
@media screen and (max-width: 767px) {
  .logo img {
    display: none
  }

  nav {
    height: auto;
  }

  .generos-mas-buscados {
    overflow: scroll;
    justify-content: space-between;
  }

  .contenedor-top-libros {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Específico página libro */

.superior {
  margin: 25px 2.5%;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.portada-grande {
  text-align: center;
  margin: 5px;
}

.detalles-libro-grande {
  width: 80%;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
}

.detalles-libro-grande p {
  margin: 3px
}

.titulo-grande {
  font-size: 45px;
}

.precio-grande {
  font-size: 35px;
  font-weight: 900;
}

.sinopsis h4 {
  font-size: 25px;
  font-weight: 600;
}

.boton-compra {
  width: 10em;
  height: 5em;
  align-self: flex-end;
  border: 1px solid #000;
  font-size: 20px;
}

.boton-compra:hover {
  color: #FFF;
  box-shadow: inset -5em 0 0 0 rgb(112, 122, 19), inset 5em 0 0 0 rgb(112, 122, 19);
  transition: 1s ease-in;
}

.inferior {
  width: 95%;
  margin: 0 2.5% 25px 2.5%;
}

.ficha-tecnica {
  position: relative;
  left: 10em
}

table {
  border-spacing: 0;
}

th {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px;
}

td {
  border-bottom: 1px solid #000;
  padding: 5px;
}