<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto de Letras</title>
    <link rel="stylesheet" href="../Static/Estilo/styles.css">
    <link rel="shortcut icon" href="../Static/Imagenes/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <!--seccion de menu de navegacion-->
        <!--Esta seccion esta contenida en el "header", se podria agregar una barra de busqueda-->
        <nav class="navegacion">
            <div class="logo"> <img src="../Static/Imagenes/Icono.png" alt="logo-laberinto">
                <h1>Laberinto de Letras</h1>
            </div>
            <ul class="header-nav">
                <li><a href="../Index.html">Inicio</a></li>
                <li><a href="#">Libros</a></li>
                <li><a href="./contactos.html">Contactos</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-container">
            <section id="libros-genero">
                <div class="titulo-genero">
                    <h2>Libros de fantasía</h2>
                </div>
                <div id="contenedor-libros">
                    <div class="libros" name="alas-de-hierro">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/alas-de-hierro.jpg"
                                alt="Alas de Hierro"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Alas de Hierro</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Yarros, Rebecca</p>
                            <p class="precio">$34.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="alas-de-sangre">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/alas-de-sangre.jpg"
                                alt="Alas de Sangre"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Alas de Sangre</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Yarros, Rebecca</p>
                            <p class="precio">$29.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="el-pozo-de-la-ascension">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/el-pozo-de-la-ascension.jpg"
                                alt="El Pozo de la Ascension"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>El Pozo de la Ascension</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$39.799,00</p>
                        </div>
                    </div>
                    <div class="libros" name="el-heroe-de-las-eras">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/el-heroe-de-las-eras.jpg"
                                alt="El Heroe De las Eras"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>El Héroe de las Eras</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$29.799,00</p>
                        </div>
                    </div>
                    <div class="libros" name="los-dias-del-venado">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/los-dias-del-venado.jpg"
                                alt="Los Dias Del Venado"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Días del Venado</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Bodoc, Liliana</p>
                            <p class="precio">$15.299,00</p>
                        </div>
                    </div>
                    <div class="libros" name="choque-de-reyes">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/choque-de-reyes.jpg"
                                alt="Choque de Reyes"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Choque de Reyes</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George R.R.</p>
                            <p class="precio">$32.899,00 </p>
                        </div>
                    </div>
                    <div class="libros" name="buenos-presagios">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/buenos-presagios.jpg"
                                alt="Buenos Presagios"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Buenos Presagios</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Pratchett, Terry; Gaiman, Neil</p>
                            <p class="precio">$27.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="juego-de-tronos">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/juego-de-tronos.jpg"
                                alt="Juego de Tronos"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Juego de Tronos</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George R.R.</p>
                            <p class="precio">$32.899,00</p>
                        </div>
                    </div>
                    <div class="libros" name="fuego-y-sangre">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/fuego-y-sangre.jpeg" alt=""></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Fuego y Sangre</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George R.R.</p>
                            <p class="precio">$46.999,00</p>
                        </div>
                    </div>
                    <div class="libros" name="elantris">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/elantris.jpg" alt="Elantris"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Elantris</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$39.799,00</p>
                        </div>
                    </div>
                    <div class="libros" name="puro">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/puro.jpg" alt="Puro"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Puro</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Armentrout, Jennifer</p>
                            <p class="precio">$27.300,00</p>
                        </div>
                    </div>


                    <div class="libros" name="los-enclaves-dorados">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/los-enclaves-dorados.jpg"
                                alt="Los Enclaves Dorados">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Enclaves Dorados</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Novik, Naomi</p>
                            <p class="precio">$29.200,00</p>
                        </div>
                    </div>
                    <div class="libros" name="tormenta-de-espadas">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/tormenta-de-espadas.jpg"
                                alt="Tormenta de Espadas">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Tormenta de Espadas</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George, R.R.</p>
                            <p class="precio">$32.899,00</p>
                        </div>
                    </div>
                    <div class="libros" name="el-camino-de-los-reyes">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/el-camino-de-los-reyes.JPG"
                                alt="El Camino de los Reyes">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>El Camino de los Reyes</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$46.999,00</p>
                        </div>
                    </div>
                    <div class="libros" name="los-fragiles-hilos-del-poder">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/los-fragiles-hilos-del-poder.jpg"
                                alt="Los Fragiles Hilos del Poder" width="168" height="240"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Fragiles Hilos del Poder</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Schwab, V.E.</p>
                            <p class="precio">$39.400,00</p>
                        </div>
                    </div>
                    <div class="libros" name="festin-de-cuervos">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/festin-de-cuervos.jpg"
                                alt="Festin de Cuervos"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Festín de Cuervos</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George R.R.</p>
                            <p class="precio">$32.899,00</p>
                        </div>
                    </div>
                    <div class="libros" name="danza-de-dragones">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/danza-de-dragones.jpg"
                                alt="Danza de Dragones"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Danza de Dragones</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Martin, George R.R.</p>
                            <p class="precio">$32.899,00</p>
                        </div>
                    </div>
                    <div class="libros" name="trenza-del-mar-esmeralda">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/trenza-del-mar-esmeralda.jpg"
                                alt="Trenza del Mar Esmeralda">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Trenza del Mar Esmeralda</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$29.299,00</p>
                        </div>
                    </div>
                    <div class="libros" name="arcanum-ilimitado">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/arcanum-ilimitado.webp"
                                alt="Arcanum Ilimitado"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Arcanum Ilimitado</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$39.799,00</p>
                        </div>
                    </div>
                    <div class="libros" name="esquirla-del-amanecer">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/esquirla-del-amanecer.jpg"
                                alt="Esquirla del Amanecer">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Esquirla del Amanecer</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Sanderson, Brandon</p>
                            <p class="precio">$21.499,00</p>
                        </div>
                    </div>
                    <div class="libros" name="las-cronicas-del-mundo">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/las-cronicas-del-mundo.jpg"
                                alt="Las Crónicas del Mundo"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Las Cronicas del Mundo</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Bodoc, Liliana</p>
                            <p class="precio">$26.299,00</p>
                        </div>
                    </div>
                    <div class="libros" name="casa-de-tierra-y-sangre">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/casa-de-tierra-y-sangre.jpg"
                                alt="Casa de Tierra y Sangre">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Casa de Tierra y Sangre</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Maas, Sarah J.</p>
                            <p class="precio">$43.399,00</p>
                        </div>
                    </div>
                    <div class="libros" name="los-dias-del-fuego">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/los-dias-del-fuego.jpg"
                                alt="Los Dias del Fuego"></div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Dias del Fuego</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Bodoc, Liliana</p>
                            <p class="precio">$20.799,00</p>
                        </div>
                    </div>
                    <div class="libros" name="los-dias-de-la-sombra">
                        <div class="portada-libro"><img src="../Static/Imagenes/Portadas/los-dias-de-la-sombra.jpg"
                                alt="Los Dias de la Sombra">
                        </div>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Días de la Sombra</span></a></p>
                            <p class="genero-libro">Fantasía</p>
                            <p class="autor">Bodoc, Liliana</p>
                            <p class="precio">$15.299,00</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pagination" id="pagination">
                <a href="#" id="prev" class="page-ctrl">Anterior</a>
                <a href="#" class="page-link" data-page="1">1</a>
                <a href="#" class="page-link" data-page="2">2</a>
                <a href="#" id="next" class="page-ctrl">Siguiente</a>
                <p id="page-numbers"> </p>
            </div>
            <script src="../Static/js/pagination.js"></script>
        </section>
    </main>
    <footer class="footer">
        <div class="redes sociales">
            <h3>Seguí a Laberinto de Letras </h3>
            <ul class="links-redes">
                <li><a href="facebook">Facebook</a> </li>
                <li> <a href="instagram">Instagram</a></li>
                <li><a href="x">X</a> </li>
                <li><a href="youtube">Youtube</a></li>
            </ul>

        </div>
        <div class="info-empresa">
            <h3>Más información de la pagina</h3>
            <ul><a href="empleo.html">Empleos</a></ul>
            <ul><a href="acerca-de-nosotros.html">Acerca de nosotros</a></ul>
            <ul><a href="asistencia.html">Asistencia</a></ul>
            <ul><a href="contacto.html">Contacto</a></ul>
        </div>
    </footer>
</body>

</html>