<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto de Letras</title>
    <link rel="stylesheet" href="../Static/Estilo/styles.css">
    <link rel="shortcut icon" href="../Static/Imagenes/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a class="logo"> <img src="../Static/Imagenes/Icono.png" alt="logo-laberinto">
            <h1 class="titulo">Laberinto de Letras</h1>
        </a>

        <div class="hamburger">
            <span class="lines"></span>
            <span class="lines"></span>
            <span class="lines"></span>
        </div>
        <nav class="navegacion">
            <ul id="nav-links" class="header-nav">
                <li><a href="Index.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Home.png" alt="Home"
                            class="icono">Inicio</a></li>
                <li><a href="#" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Book.png" alt="Book"
                            class="icono">Libros</a>
                    <ul class="sub-menu">
                        <li> <a href="./ciencia-ficcion.html" class="links"> Ciencia ficción </a></li>
                        <li> <a href="./fantasia.html" class="links"> Fantasía </a></li>
                        <li> <a href="./ficcion.html" class="links"> Ficción literaria </a></li>
                        <li> <a href="./misterio.html" class="links"> Misterio </a></li>
                        <li> <a href="./romantico.html" class="links"> Romántico </a></li>
                    </ul>
                </li>
                <li><a href="./contactos.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Contact.png"
                            alt="Contact" class="icono">Contactos</a></li>
                <li><a href="./login.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Login.png" alt="Login"
                            class="icono">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-container">
            <section id="libros-genero">
                <div class="titulo-genero">
                    <h2>Libros de ficcion literaria</h2>
                </div>
                <div id="contenedor-libros">
                    <div class="libros" name="en-agosto-nos-vemos">
                        <a href="./templates/Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/en-agosto-nos-vemos.jpg" alt="En agosto Nos Vemos"
                                width="100" height="400"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./templates/Libros/en-agosto-nos-vemos.html"><span>En
                                        Agosto Nos
                                        Vemos</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">García Marquez, Gabriel</p>
                            <p class="precio">$19.990,00</p>
                        </div>
                    </div>
                    <div class="libros" name="cora">
                        <a href="./templates/cora.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/cora.jpg" alt="En agosto Nos Vemos" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./templates/Libros/cora.html"><span>Cora</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Fernández Diaz, Jorge</p>
                            <p class="precio">$19.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="la-ciudad-y-sus-muros-inciertos">
                        <a href="./templates/Libros/la-ciudad-y-sus-muros-inciertos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-ciudad-y-sus-muros-inciertos.jpg"
                                alt="La ciudad y sus muros inciertos" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a
                                    href="./templates/Libros/la-ciudad-y-sus-muros-inciertos.html"><span>La ciudad y
                                        sus Muros Inciertos</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Murakami, Haruki</p>
                            <p class="precio">$29.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="baumgartner">
                        <a href="./templates/Libros/baumgartner.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/baumgartner.jpg" alt="baumgartner" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a
                                    href="./templates/Libros/baumgartner.html"><span>Baumgartner</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Auster, Paul</p>
                            <p class="precio">$22.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="el-viento-conoce-mi-nombre">
                        <a href="./templates/Libros/el-viento-conoce-mi-nombre.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-viento-conoce-mi-nombre.jpg"
                                alt="El viento conoce mi nombre" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a
                                    href="./templates/Libros/el-viento-conoce-mi-nombre.html"><span>El viento Conoce
                                        mi Nombre</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Allende, Isabel</p>
                            <p class="precio">$23.399,00</p>
                        </div>
                    </div>
                    <div class="libros" name="los-siete-maridos-de-evelyn-hugo">
                        <a href="./templates/Libros/los-siete-maridos-de-evelyn-hugo.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/los-siete-maridos-de-evelyn.jpg"
                                alt="Los Siete Maridos de Evelyn Hugo" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a
                                    href="./templates/Libros/los-siete-maridos-de-evelyn-hugo.html"><span>Los Siete
                                        Maridos de Evelyn Hugo</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Jenkins Reid, Taylor</p>
                            <p class="precio">$30700,00</p>
                        </div>
                    </div>
                    <div class="libros" name="mi-deseo-es-odiarte">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/mi-deseo-es-odiarte.jpg" alt="Mi Deseo es Odiarte"
                                width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Mi Deseo es Odiarte</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Stupia, Pamela</p>
                            <p class="precio">$21.900,00</p>
                        </div>
                    </div>
                    <div class="libros" name="un-lugar-soleado-para-gente-sombria">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/un-lugar-soleado-para-gente-sombria.jpg"
                                alt="Un Lugar Soleado Para Gente Sombria" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Un Lugar Soleado Para Gente Sombria</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Enriquez, Mariana</p>
                            <p class="precio">$21.500,00</p>
                        </div>
                    </div>
                    <div class="libros" name="una-velada-en-la-libreria-morisaki">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/una-velada-en-la-libreria-morisaki.webp"
                                alt="Una Velada en la Libreria Morisaki" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Una Velada en la Libreria Morisaki</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Yagisawa, Satoshi</p>
                            <p class="precio">$$41.900,00</p>
                        </div>
                    </div>

                    <div class="libros" name="tesis-sobre-una-domesticacion">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/tesis-sobre-una-domesticacion.webp"
                                alt="Tesis Sobre una Domesticacion" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Tesis Sobre una Domesticación</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Sosa Villada, Camila</p>
                            <p class="precio">$25.900,00</p>
                        </div>
                    </div>

                    <div class="libros" name="la-felicidad-cabe-en-una-taza-de-cafe">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-felicidad-cabe-en-una-taza-de-cafe.jpg"
                                alt="La Felicidad cabe en una Taza de Cafe" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>La Felicidad Cabe en una Taza de Café</span></a>
                            </p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Kawaguchi, Toshikazu</p>
                            <p class="precio">$20.999,00</p>
                        </div>
                    </div>

                    <div class="libros" name="nuestra-parte-de-noche">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/nuestra-parte-de-noche.jpg"
                                alt="Nuestra Parte de Noche" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Nuestra Parte de Noche</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Enriquez, Mariana</p>
                            <p class="precio">$33.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="la-llamada">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-llamada.jpg" alt="La Llamada" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>La llamada</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Guerriero, Leila</p>
                            <p class="precio">$32.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="las-ninas-del-naranjel">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/las-ninas-de-naranjel.png" alt="Las ninas del Naranjel"
                                width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Las Niñas del Naranjiel</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Cabezon Camara, Gabriela</p>
                            <p class="precio">$21.699,00</p>
                        </div>
                    </div>

                    <div class="libros" name="el-extranjero">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-extranjero.webp" alt="El Extranjero" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>El Extranjero</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Camus, Albert</p>
                            <p class="precio">$10.899,00</p>
                        </div>
                    </div>

                    <div class="libros" name="el-dia-que-dejo-de-nevar-en-alaska">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-dia-que-dejo-de-nevar-en-alaska.jpg"
                                alt="El Dia que Dejo de Nevar en Alaska" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>El Día que Dejó de Nevar en Alaska</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Kellen, Alice</p>
                            <p class="precio">$27.900,00</p>
                        </div>
                    </div>

                    <div class="libros" name="cometierra">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/cometierra.jpg" alt="Cometierra" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Cometierra</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Reyes, Dolores</p>
                            <p class="precio">$20.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="un-mundo-en-clave-de-fa">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/un-mundo-en-clave-de-fa.jpg"
                                alt="Un Mundo en Clave de Tierra" width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Un Mundo en Clave de Fa</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Starobinsky, Ezequiel</p>
                            <p class="precio">$3.599,00</p>
                        </div>
                    </div>

                    <div class="libros" name="gente-normal">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/gente-normal.jpg" alt="Gente Normal" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Gente Normal</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Rooney, Sally</p>
                            <p class="precio">$21.499,00</p>
                        </div>
                    </div>

                    <div class="libros" name="28-rulemanes">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/28-rulemanes.webp" alt="28 Rulemanes" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>28 Rulemanes</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Lolità </p>
                            <p class="precio">$14.399,00</p>
                        </div>
                    </div>

                    <div class="libros" name="dorayaki">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/dorayaki.jpg" alt="Dorayaki" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Dorayaki</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Sukegawa, Durian</p>
                            <p class="precio">$19.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="fortuna">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/fortuna.jpg" alt="Fortuna" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Fortuna</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Diaz, Hernan</p>
                            <p class="precio">$29.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="los-sorrentinos">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/los-sorrentinos.jpg" alt="Los Sorrentinos" width="100"
                                height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Los Sorrentinos</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Higa, Virginia</p>
                            <p class="precio">$20.500,00</p>
                        </div>
                    </div>

                    <div class="libros" name="una-historia-del-amor">
                        <a href="./templates/Libros/.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/una-historia-del-amor.jpg" alt="Una Historia del Amor"
                                width="100" height="200"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href=""><span>Una Historia del Amor</span></a></p>
                            <p class="genero-libro-libro">Ficción literaria</p>
                            <p class="autor">Saborido, Pedro</p>
                            <p class="precio">$19.900,00</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pagination" id="pagination">
                <a href="#" id="prev" class="page-ctrl">Anterior</a>
                <a href="#" class="page-link" data-page="1">1</a>
                <a href="#" class="page-link" data-page="2">2</a>
                <a href="#" id="next" class="page-ctrl">Siguiente</a>
                <p id="page-numbers"> </p>
            </div>
            <script src="../Static/js/pagination.js"></script>
        </section>
    </main>
    <footer class="footer">
        <div class="redes sociales">
            <h3>Seguí a Laberinto de Letras </h3>
            <ul class="links-redes">
                <li><a href="facebook">Facebook</a> </li>
                <li> <a href="instagram">Instagram</a></li>
                <li><a href="x">X</a> </li>
                <li><a href="youtube">Youtube</a></li>
            </ul>

        </div>
        <div class="info-empresa">
            <h3>Más información de la pagina</h3>
            <ul><a href="empleo.html">Empleos</a></ul>
            <ul><a href="acerca-de-nosotros.html">Acerca de nosotros</a></ul>
            <ul><a href="asistencia.html">Asistencia</a></ul>
            <ul><a href="contacto.html">Contacto</a></ul>
        </div>
    </footer>
    <script src="../Static/js/Hamburguesa.js"></script>
    <script src="../Static/js/Animaciones.js"></script>
</body>

</html>